body {
  background: green url("https://media3.giphy.com/media/j4fbBhYgu8mNEHkQ4w/giphy.gif") 50% 50% no-repeat;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    color: white;
  }

  p {
    font-size: 1.5em;
  }
}